@use '../mixins' as *;

h2 {
  @extend .heading-base;
  font-size: var(--h2-font-size-xs);
  letter-spacing: .5px;
  font-weight: 400;

  @include container-query(md) {
    font-size: var(--h2-font-size-md);
  }

  @include container-query(lg) {
    font-size: var(--h2-font-size-lg);
    letter-spacing: 1px;
  }

  @include container-query(xl) {
    font-size: var(--h2-font-size-xl);
    letter-spacing: 1px;
  }
}

h3 {
  display: block;
  margin: 0 -2px;
  text-align: center;
  text-shadow:
    0 0 16px var(--primary-darker-10),
    0 0 12px var(--primary-darker-10),
    0 0 8px var(--primary-darker-10),
    0 0 4px var(--primary-darker-10),
    0 0 1px var(--primary-darker);
}

h4 {
  margin-block: 0;
  text-shadow:
    0 0 16px var(--primary-darker-10),
    0 0 12px var(--primary-darker-10),
    0 0 8px var(--primary-darker-10),
    0 0 4px var(--primary-darker-10),
    0 0 1px var(--primary-darker);
}

label {
  @extend .heading-base;
}
