<div id="stage" class="stage" data-scalar-y="8" aria-hidden="true">
  <div class="bg-container" data-depth="0.05">
    <div id="bg"></div>
    <div id="stars">
      <canvas id="starfield" class="starfield" data-effect="starfield"></canvas>
    </div>
  </div>
  <div class="mbg-container" data-depth="0.075">
    <div id="mbg"></div>
  </div>
  <div class="mg-container" data-depth="0.1">
    <div id="mg"></div>
  </div>
  <div class="fg-container" data-depth="0.15" data-friction-y="0.001">
    <div id="fg"></div>
    <div id="dust"></div>
  </div>
</div>
