@font-face {
  font-display: swap;
  font-family: 'jaapokki';
  src: url('../fonts/jaapokkisubtract-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-display: swap;
//   font-family: 'jaapokki-regular';
//   src: url('../fonts/jaapokki-regular.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }
/* exo-2-100 - latin */
@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/exo-2-v24-latin-100.woff2') format('woff2');
}
/* exo-2-200 - latin */
@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/exo-2-v24-latin-200.woff2') format('woff2');
}
/* exo-2-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/exo-2-v24-latin-300.woff2') format('woff2');
}