<article class="panel-route-view panel-route-view--about" data-route-view="about">
  <section id="about-tab" class="tab-pane content" role="tabpanel" aria-labelledby="about-tab">
    <div class="content-wrapper">
      <div class="profile-pic"><div class="ripple wrapper" data-effect="ripple"></div></div>
      <h2>Ik ben Dylan van Diesen, een ervaren autodidact met liefde voor design en front-end development</h2>
      <p>Mijn naam is Dylan van Diesen - een gedreven multimedia-designer en webdeveloper met ruim 25 jaar ervaring, gevormd door een combinatie van autodidactisch leren, praktijkervaring en een diepe interesse voor technologie en creatie. Wat op mijn twaalfde ooit begon met het bouwen van websites en ontwerpen van logo's en huisstijlen voor lokale ondernemers, groeide uit tot een carriere waarin ik brede expertise heb op mogen bouwen in onder andere (front-end) development, UX/UI design en webdesign.</p>
      <p>Naast mijn werk ben getrouwd en vader van een zoontje. In mijn vrije tijd ga ik graag op pad met mijn gezin of ben ik bezig op de computer - meestal experimenterend met nieuwe tools of technieken. Die nieuwsgierigheid is niet alleen mijn hobby, maar ook de motor achter mijn werk.</p>
      <p>Door de jaren heen heb ik mogen werken aan de meest uiteenlopende projecten, van conversiegerichte WordPress-websites tot complexe maatwerkplatformen en SaaS-oplossingen binnen diverse sectoren. Daarbij ligt mijn kracht in het schrijven van schone, testbare code en het ontwikkelen van interfaces die zowel functioneel als visueel impactvol zijn. Mijn ervaring strekt zich uit over verschillende tech stacks en markten, waardoor ik snel kan schakelen en effectief kan inspelen op de behoeften van ieder project.</p>
      <p>Op de werkvloer word ik omschreven als betrokken, loyaal, leergierig en word mijn humor veelal gewaardeerd. Een van mijn krachten is mijn vermogen om zowel strategisch als uitvoerend te kunnen denken; ik werk graag mee aan de inhoud en visie van een project, maar duik net zo enthousiast in de code of het design. Ik geloof in de kracht van samenwerking, open communicatie en een positieve werksfeer waar voldoende ruimte is voor creativiteit, experimenteren en groei.</p>
      <p>Om mijn kennis nog verder te verbreden hoop ik in 2026 een functiediploma in Ethical Hacking af te ronden, waarmee ik mijn technische fundament nog sterker maak en nieuwe waarde kan toevoegen aan de digitale oplossingen die ik ontwikkel.</p>
    </div>
  </section>
</article>
